body{
    height: 10000px;
    font-family: 'Raleway', sans-serif;
}

/*start navbar*/

nav{
    background: rgba(0.0.0.-7);
}
.navbar-brand{
    font-size: 30px;
    color: #fff !important;
}
.navbar-brand span{
    color: #f82249;
}
nav ul li{
    margin-right: 20px;
    
}
nav ul li a{
    position: relative;
    color: snow;
    text-transform: capitalize;
    font-size: 18px;
    padding: 15px !important;
    transition: -3s;
}
nav ul li a:hover{
    color: #f82240;
    
}
nav ul li a::before,
nav ul li a::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 3px;
    background-color: #fff;
    transform:rotate(90deg);
    transition: .5s;
}
nav ul li a::before{
    top:10px;
    left: 0;
    transform-origin: 0 0;

}
nav ul li a::after{
    bottom: -5px;
    right: 0;
    transform-origin: 100%;

}
nav ul li a:hover::before{
    transform:rotate(0deg);
    left: 50%;
    transform: translate(-50%);

}
nav ul li a:hover::after{
    transform:rotate(0deg);
    right: 50%;
    transform: translate(50%);

}
nav .navbar-toggler span{
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: .3s;

}
nav .navbar-toggler{
    outline:none;
}

nav .navbar-toggler .two{
    margin: 7px 0;
}
.top{
    transform: rotate(-45deg) translate(-2px, 5px);
}

.bottom{
   transform: rotate(45deg) translate(-8px, -11px);
}
.hidden{
        opacity: 0;
}
/*end navbar*/

/*Start Header*/
.header{
    height:655px ;
}
.header .carousel,
.header .carousel-inner,
.header .carousel-item{
    height: 100%;
}
.header img{
    height: 525px;
    width: 100%;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    transform: scale(1.5);
    filter: brightness(.2);
}
.header .carousel-indicators li{
    transition: .3s;
}
.header .carousel-indicators li.active{
    background-color: #f82249;
}
.header .carousel-indicators li:hover{
    transform: rotate(100deg);

}
.header .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: snow;

}
.header .info p{
    font-size:30px;
    font-weight:800;

}
.header .info h2{
    font-size: 50px;
    margin: 30px 0;    
}
.header .info .btns .active{
    background: #f82240;
}
@media(max-width:991px){
    nav li a{
        display: inline-block !important;
        margin-bottom: 15px;
    }
}
@media(max-width: 767px){
    .header .info{
        width: 80%;
    }
    .header .info p{
        font-size: 18px;
    }
    .header .info h2{
        font-size: 32px;
    }
    .header .info .btn-danger{
        padding: 7px 15px;
        margin: 14px;
    }
    .carousel-indicators{
        bottom: 100px;
    }
    
}
/*End Header*/

/*start about*/
.about{
    color: #444;
    background-color: #f9f9f9;
    padding: 30 0px;
}
.about img{
    width: 100%;
    height: 271px;
}
.about h4{
    font-size: 16px;
    font-weight: 700;
    
}

.about ul{
    
}
.about ul li,
.about p{
    font-size: 14px;
    
}
.about ul li{
    margin-bottom: 15px;
}
.about i{
    color: #f82249;
    margin-right: 10px;
}
@media(max-width:767px){
    .about .info{
        margin-top: 50px;
}
    }
/*End about*/

/* Start framework*/
.heading h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.heading span{
    width: 50px;
    height: 3px;
    display: block;
    background-color: #fe2249;
    margin: 0 auto;
    
}
ul{
    list-style: none;
    padding: 0;
}
/* End framework*/

/*Start services */
.services .box{
    color: #444;
}
.services .box:hover h5,
.services .box:hover i{
    color: #f82249;
}
.services .box i{
    font-size: 32px;
    transition: .3s;
}
.services .box h5{
    margin: 20 0px;
    font-size: 20px;
}
.services .box p{
    font-size: 14px;
    
}
/*End services  */

/* start team*/
.team .image{
    position: relative;
}
.team img{
    width: 100%;
    
}
.team .info h5{
    font-size: 23px;
    font-weight: 600;
}
.team .box{
    border: 1px solid #aaa;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
.team .links{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    transition: .7s;
}
.team .links a{
   color: #fff;
    width: 32px;
    height: 32px;
    display: inline-flex;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 3px;
    text-decoration: none;
    transition: .3s;
}
.team .links a:hover{
    background-color: #f82249; 
} 
.team .overlay{
    opacity: 0;
    transition: .5s;
}
.team .image:hover .overlay{
    opacity: 1;
}
.team .image:hover .links{
    transform: translate(-50%, -50%);
}
/*End team*/

/*Start back*/
.back img{
    width: 100%;
    height: 400px;
}
.back .info{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    color: #fff;
    padding: 0 40px;
}
.back .info h4{
    font-weight: 600;
    
}
.back .info p{
    font-size: 18px;
    font-weight: 500;
}

/*End back*/


















/*Start framework*/
.heading h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}
.heading span{
    width: 60px;
    height: 3px;
    display: block;
    background: #f82249;
    margin: 0 auto;
}
ul{
    list-style: none;
    padding: 0;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
}
.btn-danger{
    border-radius: 50px;
    padding: 10px 25px;
    margin: 3px;
    text-transform: capitalize;
    background:none;
}
/*End Framework*/






